.se-main-img {
  object-fit: cover;
  background-image: url(../images/istanbul.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 640px;
  width: 100%;
  position: relative;
}
.se-main-title-img {
  object-fit: cover;
  background-image: url(../images/istanbul.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 240px;
  width: 100%;
  position: relative;
}

.black-filter {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.black-filter + .container {
  position: relative;
  z-index: 2;
}

.fw-500 {
  font-weight: 500;
}

.se-box-shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
}

.card {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
}

.card img {
  height: 200px;
  object-fit: cover;
}

.navbar-logo {
  height: 80px;
  object-fit: contain;
}
.footer-logo {
  height: 80px;
  object-fit: contain;
  margin-bottom: 20px;
  border-radius: 6px;
}

.floating-call-button {
  position: fixed;
  width: 96vw;
  height: 50px;
  bottom: 5px;
  right: 2vw;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.floating-call-button i {
  margin-right: 5px;
}

@media (min-width: 1100px) {
  .floating-call-button {
    display: none !important;
  }
}

@media (max-width: 767.98px) {
  .se-main-img {
    height: 400px;
  }
}
